<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<% include templates/header.ejs%>

<h1>About</h1>
<p>Hi My Name is VSP,I thought she is from pizza was a vein and I was scared</p>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<% for(var i=0;i<5;i++){  %>
<li>Tuna</li>
<%  } %>

<h1><%= title %></h1>
<h1><%= Name %></h1>


</body>
</html>
